div.console {
  background-color: #202124;
  font-family: Menlo, Terminal, monospace;
  color: #ffffff;
  height: 25px;
  width: 400px;
  position: fixed;
  bottom: 0px;
  right: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.console-top {
  background-color: #202124;
  height: 25px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.console-display {
  height: 350px;
  width: 400px;
  overflow: auto;
  cursor: crosshair;
}

#console-text-input {
  background-color: #202124;
  font-family: Menlo, Terminal, monospace;
  color: #ffffff;
  height: 25px;
  width: 375px;
  border: 0px;
  outline: none;
}

#console-textarea {
  background-color: #ffffff;
  font-family: Menlo, Terminal, monospace;
  color: #202124;
}

#console-textarea-input {
  background-color: #ffffff;
  font-family: Menlo, Terminal, monospace;
  color: #202124;
  height: 200px;
  width: 650px;
  border: 0px;
  outline: none;
  resize: none;
}

#minimize,
#maximize {
  cursor: pointer;
}
