body {
  background: #fbfbfb;
}

.panel {
  padding-top: 25px;
  padding-bottom: 25px;
}

pre {
  padding: 5px 10px 5px 10px;
  background: #464159;
  border-radius: 5px;
  color: #ffffff;
}

code {
  color: #02a8a8;
  font-weight: 100;
}

blockquote {
  background: #f5f5f5;
  border-left: 4px solid #d1d1d2;
  margin: 10px;
  padding: 5px 10px 5px 10px;
}
