div.box {
  margin: 5px;
  padding: 5px;
}

a.box {
  padding: 10px;
}

.rainbow-box {
  border: 5px solid transparent;
  border-color: #15d0dd;
  border-image: linear-gradient(to bottom right, #15d0dd 0%, #0070ef 25%, #15d0dd 50%, #0070ef 75%, #0070ef 100%);
  border-image-slice: 1;
  padding: 10px;
  color: black;
}
